.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.form-container {
  max-width: 500px;
  padding: 0 2rem;
  margin: auto;
}

.medium-container {
  max-width: 700px;
  padding: 0 2rem;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  outline: none;
}

.btn-primary {
  background: blue;
  color: #fff;
}

.btn-secondary {
  background: green;
  color: #fff;
}

.btn-danger {
  background: red;
  color: #fff;
}

#navbar {
  height: 50px;
  background: #cccccc;
  padding: 0 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  padding: 0 0.5rem;
}

#login,
#signup,
#home {
  margin-top: 2rem;
  text-align: center;
}

#login form,
#signup form {
  background: #cccccc;
  padding: 2rem;
  margin: 1rem 0;
}

.form-group {
  margin: 1rem 0;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 0.1rem;
}

input {
  width: 100%;
  padding: 5px;
  text-align: center;
}

#login input,
#signup input {
  outline: none;
  border: none;
}

hr {
  margin: 1rem;
}
